{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Contact Us-TaskMate</title>
{% endblock title %}

{% block styling %}
  <style>
    btn-group-lg>.btn, .btn-lg {
      padding: .5rem 1rem;
      font-size: 1.25rem;
      border-radius: 3.3rem;
    }
  </style>
{% endblock styling %}


{% block content %}
  <main>


      <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'img/logo3.svg' %}" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold">Contact Us</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Hi! I am Ajay Sharma, a second year Computer Science Engineering student📚. <br/> I am a full stack web developer and an Open Source enthusiast, who loves solving real world problems👨‍💻.
           <br/> Currently, I am learning everything😂. I also write blog posts in my spare time✍.</p>
          
            

          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            
            <a
              class="btn btn-primary btn-lg btn-floating"
              href="https://twitter.com/AjaySha80417641"
              target="_blank" rel="noopener noreferrer"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>
            <a
              class="btn btn-primary btn-lg btn-floating"
              style="background-color: #000000"
              href="https://github.com/AJAYSHARMA2012"
              target="_blank" rel="noopener noreferrer"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
            <a
              class="btn btn-primary btn-lg btn-floating"
              href="https://www.linkedin.com/in/ajay-s-51abab194/"
              target="_blank" rel="noopener noreferrer"
              role="button"
              ><i class="fab fa-linkedin"></i
              
            ></a>


          </div>
        </div>
      </div>

        
   


      
    </main>
{% endblock content %}