{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Home-TaskMate</title>
{% endblock title %}



{% block content %}
    <div class="container">

        <div class="text-center mt-3">
            <img src="{%static 'img/logo3.svg' %}" alt="" height="30px">
            <span class="h3" style="font-family: 'Architects Daughter', cursive; color: #172d4d; font-weight: bolder">TaskMate - Make Your Tasks Easy</span>
        </div>

        <hr class="mb-5 mt-0"/>
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <img src="{% static 'img/ind4.jpg' %}" class="img-fluid shadow bg-body rounded mb-4 " alt="">
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <img src="{% static 'img/ind2.jpg' %}" class="img-fluid shadow bg-body rounded mb-4" alt="">
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <img src="{% static 'img/ind5.jpg' %}" class="img-fluid shadow bg-body rounded mb-4" alt="">
            </div>
        </div>

        <div class="text-center mt-5">
            <p class="h1" style="font-family: 'Lobster', cursive; color: #172d4d;">Quick And Easy To Use Anytime, Anywhere!</p>
            <p class="h4" style="font-family: 'Architects Daughter', cursive;">"Plan Your Day Better, Get Your Life Organized"</p>
            <p class="h5" style="font-family: 'Architects Daughter', cursive;">TaskMate Lets You Keep Track Of All Your Tasks In One Place.</p>
        </div>

        <div class="text-center mt-3 mb-3">
            <a href="{% url 'todolist' %}"><button type="button" class="btn btn-outline-primary btn-lg">Let's Get Started</button></a>
        </div>

    </div>
{% endblock content %}

